{% extends 'base.html' %}

{% block content %}
<div class="addpage-container">
    <h1>Добавление кинопроекта</h1>
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        
        {% for f in form %}
            <p>
                <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>
                {{ f }}
                {{ f.errors }}
            </p>
        {% endfor %}
        
        <button type="submit">Сохранить проект</button>
    </form>
</div>
{% endblock %}
