<aside class="categories-sidebar">
  <h3 class="categories-title">Категории фильмов</h3>
  <ul class="categories-list">
    <li class="category-item {% if cat_selected == 0 %}selected{% endif %}">
      <a href="{% url 'home' %}" class="category-link">Все категории</a>
    </li>
{% for cat in cats %}
  {% if cat.pk == cat_selected %}
    <li class="category-item selected">{{ cat.name }}</li>
  {% else %}
    <li class="category-item">
      <a href="{{ cat.get_absolute_url }}" class="category-link">{{ cat.name }}</a>
    </li>
  {% endif %}
{% endfor %}
  </ul>
</aside>
